.form {
    justify-content: center;
    display: flex;
    gap: 15px;
}

.input {
    width: 180px;
    border-radius: 13px;
    padding: 10px 10px;
    border: 1px solid #333;
}

.btn {
    border-radius: 15px;
}